@model List<CeraWebApplication.Models.CeraSubscription>
<h1>Subscription List</h1>
@if (Model != null)
{
<table class="table table-striped table-hover" style="margin-top:1%">
    <thead>
        <tr>
            <th>
                SubscriptionId
            </th>


            <th>
                DisplayName
            </th>


            <th>
                TenantID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.SubscriptionId);
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DisplayName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenantID)
    </td>
</tr>
        }
    </tbody>
</table>
}
