@model List<CeraWebApplication.Models.CeraTenants>
<h1>Tenants List</h1>
@if (Model != null)
{
<table class="table table-striped table-hover" style="margin-top:1%">
    <thead>
        <tr>
            <th>
                Key
            </th>


            <th>
                TenantID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Key)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenantId)
    </td>
</tr>}
    </tbody>
</table>}
