<html>
<body>
    <h2 class="row d-flex align-items-center justify-content-center h-100">Sync Calls</h2>

    <div class="row d-flex align-items-center justify-content-center h-100" style="margin-top:1%">
        <a href="/Cera/GetCloudSubscriptionDetails" class="btn btn-info" style="margin-right:1%">AzureSubscriptions </a>
        <a href="/Cera/GetCloudResourceGroupDetails" class="btn btn-info" style="margin-right:1%">AzureResourceGroups</a>
        <a href="/Cera/GetCloudStorageAccountDetails" class="btn btn-info" style="margin-right:1%">AzureStorageAccounts</a>
        <a href="/Cera/GetCloudResourceDetails" class="btn btn-info" style="margin-right:1%">AzureResources</a>
        <a href="/Cera/GetCloudVMDetails" class="btn btn-info" style="margin-right:1%">AzureVMS</a>
        <a href="/Cera/GetCloudSqlServerDetails" class="btn btn-info" style="margin-right:1%">AzureSqlServer</a>
        <a href="/Cera/GetCloudTenantDetails" class="btn btn-info" style="margin-right:1%">AzureTenants</a>
    </div>
    <div style="margin-top:1%" class="row d-flex align-items-center justify-content-center h-100">
        <a href="/Cera/GetCloudWebAppsDetails" class="btn btn-info" style="margin-right:1%">AzureWebApps</a>
        <a href="/Cera/GetCloudAppServicePlansDetails" class="btn btn-info" style="margin-right:1%">AzureAppServicePlans</a>
        <a href="/Cera/GetCloudDisksDetails" class="btn btn-info" style="margin-right:1%">AzureDisks</a>
    </div>
    <hr />
    <h2 class="row d-flex align-items-center justify-content-center h-100">Get Calls </h2>
    <div class="row d-flex align-items-center justify-content-center h-100" style="margin-top:1%">
        <a href="/Cera/GetSubscriptionDetails" class="btn btn-primary" style="margin-right:1%">GetSubscriptions </a>
        <a href="/Cera/GetResourceGroupDetails" class="btn btn-primary" style="margin-right:1%">Get ResourceGroups </a>
        <a href="/Cera/GetStorageAccountsDetails" class="btn btn-primary" style="margin-right:1%">GetStorageAccounts</a>
        <a href="/Cera/GetResourceDetails" class="btn btn-primary" style="margin-right:1%">GetResources</a>
        <a href="/Cera/GetVMDetails" class="btn btn-primary" style="margin-right:1%">GetVMS</a>
        <a href="/Cera/GetSqlServerDetails" class="btn btn-primary" style="margin-right:1%">GetSqlServers</a>
        <a href="/Cera/GetTenantDetails" class="btn btn-primary" style="margin-right:1%">GetTenants</a>
        <a href="/Cera/GetWebAppsDetails" class="btn btn-primary" style="margin-right:1%">GetWebApps</a>
    </div>
    <div style="margin-top:1%" class="row d-flex align-items-center justify-content-center h-100">
        <a href="/Cera/GetAppServicePlansDetails" class="btn btn-primary" style="margin-right:1%">GetAppServicePlans</a>
        <a href="/Cera/GetDisksDetails" class="btn btn-primary" style="margin-right:1%">GetDisks</a>
    </div>
</body>
</html>