@model List<UserCloudDetails>

<head>
    <script type="text/javascript" src="https://alcdn.msauth.net/lib/1.3.0/js/msal.js"></script>
</head>
<h1>
    Sync Cloud Data
</h1>
<h6>
    Sign-In to Azure to Sync your cloud Data:
</h6>
<div class="form-group">
    <label>Select Cloud :</label>
    <select style="width:30%" class="form-control" id="cloudName">
        <option value=0 selected>Select Tenant</option>
        @foreach (var item in ViewBag.cloudDetails)
        {

            <option value="@item.clientId">@item.TenantId</option>

        }
    </select>
    <label class="control-label">AAD Authentication:</label>
    <button type="button" class="btn btn-outline-primary" onclick="run()">Sign-In</button>
</div>

<script>
    async function run() {
        
        debugger;
        //const msalConfig = {
        //    auth: {
        //        clientId:"218411ec-50a7-4c7e-b671-e3434f3775d3",
        //        authority: "https://login.microsoftonline.com/73d3d213-f87a-4465-9a7e-67bd625fdf9c",
        //        redirectUri: "https://localhost:44329/"
        //    },
        //    cache: {
        //        cacheLocation: "sessionStorage", // This configures where your cache will be stored
        //        storeAuthStateInCookie: false, // Set this to "true" if you are having issues on IE11 or Edge
        //    },
        //};
        console.log($('#cloudName').val());
        console.log($('#cloudName option:selected').text());
     
        const msalConfig = {
            auth: {
                clientId: $('#cloudName').val(),
                authority: "https://login.microsoftonline.com/" + $('#cloudName option:selected').text(),
                redirectUri: "https://localhost:44329/"
            },
            cache: {
                cacheLocation: "sessionStorage", // This configures where your cache will be stored
                storeAuthStateInCookie: false, // Set this to "true" if you are having issues on IE11 or Edge
            },
        };

        const myMSALObj = new Msal.UserAgentApplication(msalConfig);
        debugger;
        const loginRequest = {
            scopes: ["https://management.core.windows.net//.default"],
            prompt: "select_account"
        };
        let loginresponse = await myMSALObj.loginPopup(loginRequest);
        console.dir(loginresponse);
        let tokenresponse = await myMSALObj.acquireTokenSilent(loginRequest);
        console.dir(tokenresponse);
    }
</script>