<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CeraWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CeraWebApplication</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cera" asp-action="LandingPage">Home</a>
                        </li>
                        <li class="nav-item float-right">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cera" asp-action="Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-md-2">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="margin-left:-2px;">
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <div class="row">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="https://freepikpsd.com/wp-content/uploads/2019/10/overview-icon-png-5-Transparent-Images.png" style="width:30px;height:20px;" />
                                    </div>
                                    <div class="col-sm-9">
                                        <a asp-controller="Cera" asp-action="DashBoard">OverView</a>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="https://www.vhv.rs/dpng/d/432-4323159_azure-resource-group-icon-arm-azure-resource-manager.png" style="width:30px;height:20px;" />
                                    </div>
                                    <div class="col-sm-9">
                                        <a asp-controller="Cera" asp-action="GetResourceDetails">Resources</a>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="https://bobpusateri.blob.core.windows.net/bcn/2020/04/Azure_VM.png" style="width:30px;height:20px;" />
                                    </div>
                                    <div class="col-sm-9">
                                        <a asp-controller="Cera" asp-action="GetVmDetails">VirualMachines</a>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeV3Fv0vHwFFU2QAN42lNboDzlyappVURMag&usqp=CAU" style="width:30px;height:20px;" />
                                    </div>
                                    <div class="col-sm-9">
                                        <a asp-controller="Cera" asp-action="GetStorageAccountsDetails">StorageAccounts</a>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="https://www.vhv.rs/dpng/d/432-4323159_azure-resource-group-icon-arm-azure-resource-manager.png" style="width:30px;height:20px;" />
                                    </div>
                                    <div class="col-sm-9">
                                        <a asp-controller="Cera" asp-action="GetResourceGroupDetails">ResourceGroups</a>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="https://img.favpng.com/9/7/19/microsoft-azure-web-sites-web-application-png-favpng-ceQYNWUnpNGwGmRpJRpC1a0j4.jpg" style="width:30px;height:20px;" />
                                    </div>
                                    <div class="col-sm-9">
                                        <a asp-controller="Cera" asp-action="GetWebAppsDetails">WebApps</a>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="https://www.ciraltos.com/wp-content/uploads/2018/09/SH.png" style="width:30px;height:30px" />
                                    </div>
                                    <div class="col-sm-9">
                                        <a asp-controller="Cera" asp-action="GetResourceHealth">Advisor</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="https://cdn1.iconfinder.com/data/icons/ui-colored-3-of-3/100/UI_3__23-512.png" style="width:30px;height:30px" />
                                    </div>
                                    <div class="col-sm-9">
                                        <a asp-controller="Cera" asp-action="ManageUsers">ManageUsers</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="https://static.vecteezy.com/system/resources/thumbnails/000/580/868/small/sarmi2-16.jpg" style="width:30px;height:30px" />
                                    </div>
                                    <div class="col-sm-9">
                                        <a asp-controller="Manage" asp-action="AddOrganisation">ManageOrganisation</a>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CeraWebApplication - <a asp-area="" asp-controller="Cera" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
