################################################################################
# Default directory where NuGet packages are restored
/packages

# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Visual Studio and VS Code local setting files
**/.vs/
**/*.suo

/CERADataAPI/obj
/CeraWebApplication/obj
/CERA.Azure.API/obj
/CERA.Azure.Data/obj
/CERA.Azure.SDK/obj
/CERA.Azure.Service/obj
/CERA.Azure.APIServices/obj
/CERA.Azure.ODataAPI/obj
/CERA.Azure.SyncService/obj/Debug
/CERA.Converter/obj/Debug
/CERA.Logging/obj/Debug
/CERA.Azure.SyncService/obj
/CERA.Logging/obj
/CERA.Converter/obj
/CERA.AuthenticationService/obj
/CERA.CloudService/obj
/CERA.DataOperation/obj
/CERAPlatform/obj
# More visual studio gitignore settings
# Source: https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/WebApplication1/obj
/CERA.AuthenticationService/bin/Debug/netstandard2.1
/CERA.CloudService/bin/Debug/netstandard2.1
/CERA.Converter/bin/Debug/netstandard2.1
/CERA.DataOperation/bin/Debug/netstandard2.1
/CERA.Logging/bin/Debug/netstandard2.1
/CERA.AWS.CloudServices/obj
/CERA.AWS.CloudServices/bin
/CERA.Azure.CloudService/obj
/CERA.Platform/obj
/CERA.TestClient/obj
/CERA.Tests/obj
/CERA.Entities/obj
/CERA.Entities/bin/Debug/netstandard2.0
/CERA.TestClient/bin/Debug/netcoreapp3.1
/CERA.Tests/bin/Debug/netcoreapp3.1
/CERA.Azure.CloudService/bin/Debug/netstandard2.1
/CERA.Platform/bin/Debug/netstandard2.1
/CERA.Entities/bin/Debug/netstandard2.1
/TestCERAClient/bin/Debug/netcoreapp3.1
/TestCERAClient/obj/Debug/netcoreapp3.1
/TestCERAClient/obj
# build outputs
/TestResults
**/bin/
**/obj/
**/StyleCop.Cache
**/bin/Debug/
**/bin/Release/
**/build.err
**/build.log
**/build.wrn
**/*.binlog
**/*.log

# bulk get rid of assmblies and build artifacts. 
*.mdf
*.sdf
*.ldf
*.ndf
*.mdb
*.accdb
*.msi
*.msp
*.dll
*.pdb
*.exe
*.out
*.app
*.cab
*.dpk
*.xlsx
*.docx
*.gzip
*.abf
*.appxupload
*.7z
*.vsix
*.nupkg
*.cab
*.msu
*.chm
*.bak
*.zip
*.metadata_dll
*.dmp
*.backup
*.rtm
*.dtr
*.nupkg
*.asmmeta
*.msp
*.atom
*.asdatabase
*.ilk
*.dpk
*.edb
*.checkedindll
*.checkedinexe
*.blg
*.ndf
*.temporary
*.wixpdb
*.rpt
*.vtx
*.pod
*.tbl
*.vhd
*.dbschema
*.OLB
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.jfm
